{% extends 'base.html.twig' %}

{% block title %}client index{% endblock %}

{% block body %}
    <h1>client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>CodePostale</th>
                <th>Ville</th>
                <th>Fixe</th>
                <th>Portable</th>
                <th>Email</th>
                <th>Anniversaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.sexe }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.codePostale }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.fixe }}</td>
                <td>{{ client.portable }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.anniversaire ? client.anniversaire|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
