{% extends 'base.html.twig' %}

{% block title %}Reunion index{% endblock %}

{% block body %}
    <h1>Reunion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>CodePostale</th>
                <th>Ville</th>
                <th>Fixe</th>
                <th>Portable</th>
                <th>Email</th>
                <th>Anniversaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reunion in reunions %}
            <tr>
                <td>{{ reunion.id }}</td>
                <td>{{ reunion.prenom }}</td>
                <td>{{ reunion.nom }}</td>
                <td>{{ reunion.sexe }}</td>
                <td>{{ reunion.adresse }}</td>
                <td>{{ reunion.codePostale }}</td>
                <td>{{ reunion.ville }}</td>
                <td>{{ reunion.fixe }}</td>
                <td>{{ reunion.portable }}</td>
                <td>{{ reunion.email }}</td>
                <td>{{ reunion.anniversaire ? reunion.anniversaire|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('reunion_show', {'id': reunion.id}) }}">show</a>
                    <a href="{{ path('reunion_edit', {'id': reunion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reunion_new') }}">Create new</a>
{% endblock %}
